<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>기능 모음</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../css/bootstrap.css" />
    <script src="../../../js/bootstrap.js"></script>
</head>
<body>
    <ol>
        <li><a href="/mail">연장 메일 발송 페이지</a>로 이동</li>
        <li><a href="/tax">세금계산서 안내 메일 발송 페이지</a>로 이동</li>
    </ol>
</body>
</html>
