<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>기능 모음</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='style/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/starter-template.css')}}" rel="stylesheet">

</head>
<body>
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">기능 모음</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <!-- <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li> -->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>안녕하세요</h1>
            <p>업무에 필요한 여러 기능들을 모아보았습니다. 필요한 기능이 있으면 추가도 해드립니다.</p>
            <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>기능</th>
                        <th>설명</th>
                        <th>이동</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>연장 메일 발송</td>
                        <td>연장 알림 메일을 수동으로 발송할 수 있습니다. 아직 1개의 서비스에 대해서만 발송 가능합니다</td>
                        <td><button type="button" class="btn btn-xs btn-default" onclick="location.href='/mail'">이동</button></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>세금계산서 안내 메일 발송</td>
                        <td>세금계산서 마감 안내 메일 발송 과정을 일부 자동화하였습니다. 화이팅</td>
                        <td><button type="button" class="btn btn-xs btn-default" onclick="location.href='/tax'">이동</button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
</body>
</html>
